#map {
	height: 100%;	
	width: 78%;
	float: right;
}

#input {
	margin: 15px;
}

#filter {
	padding: 10px;
	font-weight: bold;
	background-color: #2a64c1;
	color: #fff;
	border: none;
	border-radius: 2px;
	box-shadow: 1px 1px  rgba(255,255,255,0.2);
	margin-left: 5px;
	font-size: 15px;
}


#bars {
	font-size: 28px;
}

.fa-bars {
	padding: 5px 8px;
}

.fa-globe {
	margin-right: 8px;
}

.listView {
	float: left;
	height: 100%;
	width: 22%;
	background-color: #303235;
}

.mapNav {
	width: 78%;
	height: 40px;
	background-color: #243d66;
	float: right;
}

.navbar {
	width: 22%;
	float: left;
	height: 40px;
	background-color: #243d66;
}

h2 {
	color: #fff;
	margin: 0;
	/*padding: 10px;*/
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	margin-left: 10px;
}

i {
	padding-right: 2px;
	color: #fff;
}
input {
	width: 200px;
	padding: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
	color: #9a9ca0;
	list-style: none;
	font-size: 20px;
	font-family: 'Amaranth', sans-serif;
	padding: 8px;
	margin-left: 0;
}

hr {
	margin: 0;
	border: 0.5px solid #9a9ca0;
}

ul {
	padding: 0;
	margin: 6px;
}
