#map {
	height: 100%;	
	width: 80%;
	float: right;
}

#input {
	margin: 15px;
}

#filter {
	padding: 3px;
	font-weight: bold;
}

.listView {
	float: left;
	height: 100%;
	width: 20%;
	background-color: #303235;
}

input {
	width: 200px;
	padding: 3px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}