#map {
	height: 100%;	
	width: 100%;
	float: right;

	-webkit-transform: translate(200px, 0);
	-webkit-transition: all 1s ease;

}

#filter {
	padding: 10px;
	font-weight: bold;
	background-color: #2a64c1;
	color: #fff;
	border: none;
	border-radius: 2px;
	box-shadow: 1px 1px  rgba(255,255,255,0.2);
	margin-left: 5px;
	font-size: 15px;
}

#bars {
	font-size: 28px;
	margin-right: 10px;
}

#bars:hover {
	cursor: pointer;
}

.fa-bars {
	padding: 5px 8px;
}

.fa-globe {
	margin-right: 8px;
}

.title {
	text-shadow: #0496f7 1px 0 10px;
	color: #000;
	font-family: 'Shadows Into Light', cursive;
}

.listView {
	position: absolute;
	float: left;
	height: 100%;
	width: 300px;
	background-color: #303235;
	visibility: visible;

	-webkit-transform: translate(0, 0);
	-webkit-transition: all 1s ease;

}

.mapNav {
	width: 100%;
	height: 40px;
	background-color: #243d66;
}

.navbar {
	width: 22%;
	float: left;
	height: 40px;
	background-color: #243d66;
}

h2 {
	color: #fff;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	display: inline;
	text-align: center;
}

i {
	padding-right: 2px;
	color: #fff;
}
input {
	margin: 0;
	width: calc(100% - 24px);
	padding: 10px;
}

input:focus {
	box-shadow: 0 0 7px rgba(81, 203, 238, 1);
	border: 2px solid rgba(81, 203, 238, 1);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
	display: block;
	color: #9a9ca0;
	list-style: none;
	font-size: 16px;
	font-family: 'Amaranth', sans-serif;
	padding: 8px;
	margin-left: 0;
}

li:hover {
	cursor: pointer;
}

hr {
	margin: 0;
	border: 0.5px solid #9a9ca0;
}

ul {
	padding: 0;
	margin: 6px;
}

/*creating media queries*/
@media only screen and (max-width: 700px) {
	.listView {
		width: 250px;
	}
}

@media only screen and (max-width: 515px) {
    .listView {
		width: 200px;
	}
	h2 {
		font-size: 25px;
	}
}